body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 20px
}

.container, .cont{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.rows{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.columns{
    border: 2px solid black;
    display: flex;
    background-color: white;
    width: max-content;
}

.cols2{
    background-color: blue;
}

.cols3{
    background-color: purple;
}

